@model ReviewStartup.Infrastructure.Entities.User

@{
    ViewBag.Title = Model.UserName;
}

<div class="row post">

    <div>
        <div class="row ">

            @if (Model.Picture?.Length > 0)
            {
                <img class="thumb" src="@Url.Action("UserThumbnail", "Images", new {userName = Model.UserName})" />
            }
            else
            {
                <img class="thumb" src="../../Resources/placeholder.jpg" />
            }
        </div>
        <div class="row">
            <span class="row">@Model.UserName</span>

        </div>
        @if (Request.IsAuthenticated)
        {
            <div class="row">

                @if (Model.Friends.Any(e => e.UserName == User.Identity.Name))
                {
                    @Html.ActionLink("Remove Friend", "RemoveFriend", "Friends", new { userName = Model.UserName }, new { @class = "accept-reject", id = "remove" })
                }
                else if (Model.FriendRequests.Any(e => e.UserName == User.Identity.Name))
                {

                    @Html.ActionLink("Cancel Request", "CancelRequest", "Friends", new { userName = Model.UserName }, new { @class = "accept-reject", id = "cancel" })
                }
                else if (ViewBag.FriendRequestReceived)
                {
                    @Html.ActionLink("Accept Request", "AcceptRequest", "Friends", new { userName = Model.UserName }, new { @class = "accept-reject accept" })
                    @Html.ActionLink("Remove Request", "RejectRequest", "Friends", new { userName = Model.UserName }, new { @class = "accept-reject reject" })
                }

                else
                {
                    @Html.ActionLink("Add Friend", "SendRequest", "Friends", new { userName = Model.UserName }, new { @class = "accept-reject", id = "add" })
                }
            </div>
        }
    </div>
</div>